<header>
<ul id="headerText">
	
		<li class="headerTitle"><h1>NEW POST</h1></li>
		
</ul>
</header>
<section>
<ul id="postArea">
<li class="postSectionBig">
<%= render 'form' %>
</li>
</ul>
</section>


<%= link_to 'Back', posts_path %>
