<header>
<ul id="headerText">
	
		<li class="headerTitle"><h1>EDIT HEADING</h1></li>
		
</ul>
</header>
<section>
<ul id="postArea">
<li class="postSectionBig">
<%= render 'form' %>

<%= link_to 'Show', @heading %> |
<%= link_to 'Back', headings_path %>
	
</li>	
</ul>
<!--POST SECTION END-->	
</section>