<header>
<ul id="headerText">
	
		<li class="headerTitle"><h1>NEW HEADER</h1></li>
		
</ul>
</header>
<section>
<ul id="postArea">
<li class="postSectionBig">
<%= render 'form' %>
<%= link_to 'Back', headings_path %>
</li>
</ul>
</section>